pre.code-snippet {
  counter-reset: line;

  code {
    span {
      &::before {
        counter-increment: line;
        content: counter(line);
        border-right: 2px solid #999;
        color: #999;
      }
    }
  }

  &.shell {
    padding: 0.25rem;
    code {
      span::before {
        counter-increment: none;
        border-right: none;
        content: "$";
        color: #e94b4b;
      }
    }
  }
}
